@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
}
p, button{
    font-size: 120%;
}
button{
    margin-bottom: 20px;
    margin-left: 50%;
    margin-right: 50%;
}
input{
    margin-bottom: 25px;
    margin-top: 25px;
    font-size: 120%;
}

iframe {
    
    width: 50%;
}

h1{
    font-family: 'Noto Serif TC', serif;
    
    text-align: center;
    margin-top: 10px;
}
.en{
        font-family: 'Alice', serif;
        font-size: 250%;
}

h2{
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
    font-family: 'Rosario', sans-serif;
}
.mam{
    color: aliceblue;
    font-size: 170%;
    font-family: 'Merienda', cursive;
}
.lsit{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.logo{
    width: 160px;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center;
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
}
.student{
    font-family: 'Rosario', sans-serif;;
    font-size: 150%;
    color: white;
    margin-top: auto;
    margin-bottom: auto;
}
nav{
    flex: 1;
    padding-left: 30%;
    margin: auto;
}
nav ul li{
    display: inline-block;
    font-family: serif;
    font-size: 130%;
    list-style: none;
    margin: 0px 30px;
    position:relative;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #808080;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}

.linker{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10%;
}
td{
    padding: 30px;
}
nav ul li a{
    text-decoration-color: none;
    color: #333;
}
img{
    margin-bottom: 3%;
    margin-top: 3%;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: calc(100% - 50px); /*減去footer高度*/
}
.footer {

  height: 50px; /*設定footer本身高度*/
  background-color: yellow;
}
.title{
    padding-bottom: 3%;
    font-size: 300%;
    font-family: 'Delius', cursive;
    color: #808080;
}

.title_learn{
    padding-bottom: 3%;
    margin-left: 20%;
    text-align: left;
    font-size: 200%;
    font-family: 'Delius', cursive;
    color: #406060;
}










