*{
    margin: 0;
    padding: 0;
}
a {
    text-decoration:none;
}
h1{
    font-family: 'Noto Serif TC', serif;
    font-size: 300%;
    text-align: center;
    margin-top: 10px;
}
.en{
        font-family: 'Alice', serif;
        font-size: 250%;
}

.student{
    font-family: 'Rosario', sans-serif;;
    font-size: 150%;
    color: white;
}
.school{
    font-family: 'Rosario', sans-serif;;
    font-size: 80%;
    color: white;
}
h2{
    margin-bottom: 3px;
    margin-top: 3px;
    text-align: center;
    font-family: 'Rosario', sans-serif;
}
.lsit{
    display: flex;
    justify-content: center; 
    align-items: center; 
}
.logo{
    width: 160px;
    cursor: pointer;
}
.container{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.navbar{
    width: 85%;
    margin: auto;
    padding: 35px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav{
    flex: 1;
    padding-left: 30%;
    margin: auto;
}
nav ul li{
    display: inline-block;
    font-family: serif;
    font-size: 130%;
    list-style: none;
    margin: 0px 30px;
    position:relative;
}
nav ul li::after{
    content: '';
    height: 3px;
    width: 0;
    background: #808080;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}
nav ul li:hover::after{
    width: 100%;
}

.linker{
    margin-left: auto;
    margin-right: auto;
}
td{
    padding: 30px;
}
nav ul li a{
    text-decoration-color: none;
    color: #333;
}
.my-img{
    display: inline-block;
    height: 350px;
    position: static;
    align-content: center;
    margin-top: 2%;
    bottom: 10%;
}
html, body {
  height: 100%;
  margin: 0;
}
.wrapper {
  min-height: calc(100% - 50px); /*減去footer高度*/
}
.footer {
  height: 50px; /*設定footer本身高度*/
  background-color: yellow;
}

















